node {
  fill-color: rgb(250,250,250);
}

node:clicked {
  fill-color: rgb(137, 55, 105);
}

edge {
  fill-color: rgb(100,100,100);
}

edge.marked {
  fill-color: rgb(250,106,49);
}

edge.best {
  fill-color: rgb(31,190,169);
  size: 2;
}

edge.bestIteration {
  fill-color: rgb(94,9,242);
  size: 2;
}
